*{
    margin: 0px;
    padding: 0px;
}
.m-heading{
    text-align: center;
    font-size: 3.rem;
}
.s-heading{
    text-align: center;
    font-size: 2.rem;
    font-weight: 600;
    font-family: 'Baloo Bhai 2', cursive;
}
body{
    /* background-color: rgb(227, 228, 228); */
}

#logo{
    width: 10px;
    height: 75px;
}
#logo img{
    width: 63px;
    border-radius: 82px;
    height: 57px;
    margin-top: 11px;
}


/* navigation bar */
#navbar{
    position: sticky;
    display: flex;
    align-items: center;
    top: 0px;
    background-color: #110202;
}
/* #navbar::before{
    content: "";
    background-color: rgb(245, 3, 3);
    position: absolute;
    top: 10px;
    left: 0px;
    height: 10%;
    width: 100%;
    z-index: -1;
    opacity: 0.96;
} */
#navbar ul{
    display: flex;
    position: absolute;
    right: 119px;
    top: 17px;
    
    
}
#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
    font-family: 'Baloo Bhai 2', cursive;
    
    
}
#navbar ul li a{
    display: block;
    color: white;
    padding: 8px 18px;
    text-decoration: none;
    border-radius : 15px;
    
}
#navbar ul li a:hover{
    /* background-color: white; */
    color: rgb(187, 187, 187);

}
/* #Signin{
    position: absolute;
    top: 30px;
    right: 20px;
    padding: 3px;
    font-size: 1rem;
    font-family: 'Baloo Bhai 2', cursive;
    border-radius: 10px;
    background-color: rgb(44 170 46);
    color: white;
}
#Signin:hover{
    background-color: #4cce48;
} */

/* container  */
.slide-container{
    position: absolute;
    width: 100%;
    margin:  auto;
    text-align: center;
   /* background-color: rgb(209, 206, 206); */
   
   overflow: hidden;
}

.slide img{
    width: 100%;
    height: 79vh;
    
} 
.Arrow{
    cursor: pointer;
    position: absolute;
    top: 40%;
    padding: 5px 17px;
    color: black;
    background-color: #f8f1f1;
    font-size: 31px;
    font-weight: bold;
    border-radius: 50%;
}
.Arrow:hover{
    background-color: #a1a0a0;
}
.next{
    right: 0px;
}
.slide{
    display: none;
}
/* Home */

.aboutus h1{
    font-size: 2.4rem;
    text-align: center;
    text-decoration: underline;
    font-family: 'Baloo Bhai 2', cursive;
}
.aboutus{
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 665px;
    /* border: 2px solid red; */
    height: 100vh;
    padding: 2px;
}
.aboutus p{
    margin: 14px;
    font-size: xx-large;
}
.aboutus h2{
    font-size: 1.84em;
    color: #23bec3;
    text-align: center;
    font-weight: bold;
}
