*{
    margin: 0;
    padding: 0;
}

.btn-primary {
    color: #fff;
    background-color: #04AA6D;
    border-color: #0d6efd;
}
body{
    width: 809px;
    margin: 0px auto;
    background-color: #ebe6e6;
}
