/* mid-container */
body {font-family: Arial, Helvetica, sans-serif;}
body{
  background-color: rgb(212, 209, 209);
}

form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 27%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

#logo{
    width: 10px;
    height: 75px;
}
#logo img{
    width: 63px;
    border-radius: 82px;
    height: 57px;
    margin-top: 11px;
}
.mid-container{
   width: 42vw;
    margin: 69px auto;
    background-color: white;
    padding: 14px;
}


/* navigation bar */
#navbar{
    position: sticky;
    display: flex;
    align-items: center;
    top: 0px;
    background-color: #110202;
}
/* #navbar::before{
    content: "";
    background-color: rgb(245, 3, 3);
    position: absolute;
    top: 10px;
    left: 0px;
    height: 10%;
    width: 100%;
    z-index: -1;
    opacity: 0.96;
} */
#navbar ul{
    display: flex;
    position: absolute;
    right: 119px;
    top: 8px;
    
    
}
#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
    font-family: 'Baloo Bhai 2', cursive;
    
    
}
#navbar ul li a{
    display: block;
    color: white;
    padding: 0px 18px;
    text-decoration: none;
    border-radius : 15px;
    
}
#navbar ul li a:hover{
    /* background-color: white; */
    color: rgb(187, 187, 187);

}